<p>Modal-początek</p>

<div class="movie-backdrop is-hidden" data-modal></div>

<div class="movie-modal">
  <button type="button" class="modal-close-btn" data-modal-close>
    <svg class="modal-close-icon" width="16" height="16">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="movie-image"></div>
  <div class="movie-description">
    <h2 class="movie-title">MOVIE TITLE</h2>
    <p class="movie-descr">Vote / Votes</p>
    <p class="movie-descr">Popularity</p>
    <p class="movie-descr">Original Title</p>
    <p class="movie-descr">Genre</p>
    <div class="movie-about">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
      corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the
      other three escapes with bags of gold hide out in the abandoned gold mine where they happen
      across another gang of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of gold are filled with
      lead... they’ve been double crossed – but by who and how?
    </div>

    <div class="modal-buttons">
      <button class="watched-button" type="button">ADD TO WATCHED</button>
      <button class="queue-button" type="button">ADD TO QUEUE</button>
    </div>
  </div>
</div>
<p>Modal-koniec</p>
