<header class="lib-header">
  <div class="header-container lib-header-container">
    <nav class="nav-container lib-nav-container">
      <a href="./index.html" class="logo link">
        <svg class="logo-icon" width="24" height="24">
          <use href="/src/images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo-text link">Filmoteka</span>
      </a>
      <ul class="header-list list">
        <li class="header-list-li">
          <a href="./index.html" class="header-home-li">HOME</a>
        </li>
        <li class="header-list-li">
          <a href="./my-library.html" class="header-lib current-card">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <ul class="library-buttons list">
      <li><button id="watchedButton" class="library-button">WATCHED</button></li>
      <li><button id="gueueButton" class="library-button">QUEUE</button></li>
    </ul>
  </div>
</header>
