:root {
  --black: #000000;
  --dark: #10181d;
  --orange: #ff6b08;
  --white: #ffffff;
  --light_grey: #f7f7f7;
  --red: #ff001b;
  --dark_grey: #8c8c8c;
}

body {
  font-family: 'Roboto';
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media screen and (min-width: 320px) {
  body {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
  }
}
