.decor {
    background-image: url('../images/homepage/hp-header-mobile.jpg');
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  @media only screen and (min-width: 320px) {
    .decor {
      background-image: url('../images/homepage/hp-header-mobile.jpg');
      width: 320px;
    }
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/homepage/hp-header-mobile@x2.jpg');
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .decor {
      width: 768px;
      padding: 40px 32px 44px 32px;
  
      background-image: url('../images/homepage/hp-header-tablet.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/homepage/hp-header-tablet@x2.jpg');
      }
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .decor {
      width: 1280px;
      padding: 40px 32px 40px 32px;
  
      background-image: url('../images/homepage/hp-header1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/homepage/hp-header2@x2.jpg');
      }
    }
  }

  /*----------------------------header------------------*/

.hp-header {
  @media screen and (min-width: 768px) {
    display: flex;

    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;

    width: 1216px;
  }
}
  
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @media screen and (min-width: 768px) {
      display: flex;
      width: 704px;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      width: 1216px;
    }
  }
  
  /*----------------logo---------------*/
  .logo {
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35 / 30);
    color: #ffffff;
    text-decoration: none;
  
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &:focus {
      outline: none;
    }
  }
  
  .logo-text {
    display: none;
    @media screen and (min-width: 768px) {
      left: 34px;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: #ffffff;
      margin-left: 10px;
    }
    @media screen and (min-width: 1280px) {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: #ffffff;
    }
  }


.logo__wrap {
    position: relative;
    overflow: hidden;
    height: 23px;
    width: 24px;
}

.logo__icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -23px;
    left: 0px;
}

.logo__icon--first {
    height: 23px;
    animation-name: logoIconMovie;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.2, 0.1, 0.4, 1);
    animation-duration: 1500ms;
}

@keyframes logoIconMovie {
    0% {
        transform: translateY(23px);
    }

    100% {
        transform: translateY(0px);
    }
}

.logo__text {
    margin-left: 10px;
}


.header-list {
    display: flex;
    gap: 10px;
    @media screen and (min-width: 320px) {
      gap: 40px;
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
    }
  }
  
  .header-home {
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: #ffffff;
  
    letter-spacing: normal;
  
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
    }
  }
  
  .header-home:hover::before,
  .header-home:focus::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #ff001b;
    bottom: -4px;
  }
  
  /*--------------------------search-------------------*/

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serach-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-search {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 57px;

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 61px;
    width: 394px;
  }
}
/*
.search {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
} */
.search-input {
  background-color: transparent;

  border-width: 0;
  border-bottom: 0.5px solid #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #ffffff;

  transition: border-bottom-color 500ms linear;

  &:hover {
    border-bottom-color: red;
  }

  &:focus {
    outline: none;
    background-color: transparent;
  }

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
}
.hsearch-input::placeholder {
  color: inherit;
}
.search-icon {
  padding: 0;
  width: 12px;
  height: 12px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.search-button {
  position: absolute;
  border: 0;
  background-color: transparent;
  right: 0%;
  bottom: 0%;
  @media screen and (min-width: 320px) {
    right: 0%;
    bottom: 0%;
  }
  @media screen and (min-width: 768px) {
    right: 0%;
    bottom: 0%;
  }
  @media screen and (min-width: 1280px) {
    right: 0%;
    bottom: 0%;
  }

  transition: transform 500ms linear;

  &:hover,
  &:focus {
    
    &:hover,
    &:focus {
    transform: scale(1.4);
    }
  }
}

.header-error {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;

  color: #ff001b;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    text-align: center;

    margin-top: 20px;

    color: #ff001b;

    top: 172px;
    overflow: visible;

    letter-spacing: normal;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: normal;

    top: 172px;
  }
}