.loader {
  &__text {
    margin: 5px auto;
    color: #3d314a;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &__filmstrip {
    position: relative;
    width: 56px;
    height: 70px;
    background: #3d314a;
    z-index: -1;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 120%;
      border-left: 5px dashed #f5f1ed;
      animation: roll 20ms infinite;
    }
    &:before {
      left: 5px;
    }
    &:after {
      right: 5px;
    }
  }
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}
