.movie-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 940px;
  border-radius: 0px;
  background: #fff;
  cursor: default;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}

.modal-close-btn {
  display: flex;
  background: none;
  fill: none;
  stroke: none;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  align-items: center;
  position: absolute;
  top: 8px;
  padding: 0;
  right: 8px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: var(--orange);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke-width: 2px;
}

.modal-close-icon:hover,
.modal-close-icon:active {
  color: var(--orange);
  fill: var(--orange);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .movie-modal {
  transform: translateY(100%);
}

.movie-image {
  border-radius: 5px;

  width: 240px;
  height: 357px;
  margin-top: 36px;
  margin-left: 20px;
  border: solid 1px black;
}

.movie-container {
  width: 240px;
  height: 512px;
  margin-left: 20px;
  margin-top: 20px;
}

.movie-title {
  color: var(--pureblack);
  text-align: left;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0em;
  text-align: left;
}

.movie-descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8c8c8c;
  margin-bottom: 8px;
}

.movie-about-par {
  width: 240px;
  height: 260px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66666;
  color: #000000;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: left;
}

.modal-buttons button {
  margin-right: 20px;
}

.modal-buttons button:last-child {
  margin-right: 0;
}

.watched-button {
  background: #ff6b01;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 110px;
  height: 44px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  fill: white;
  cursor: pointer;
}

.watched-button:hover,
.watched-button:focus {
  background-color: var(--light-orange);
  color: #ff6b01;
  border: solid 1px black;
}

.queue-button {
  background-color: white;

  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 110px;
  height: 44px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: black;
  border-radius: 5px;
  border: solid 1px black;
  fill: white;
  cursor: pointer;
}

.queue-button:hover,
.queue-button:focus {
  background-color: #ff6b01;
  color: white;
}

@media (min-width: 768px) {
  .movie-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .movie-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    height: 552px;
    border-radius: 0px;
    background: #fff;
    cursor: default;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: row;
    border: solid 1px black;
  }

  .modal-close-btn {
    display: flex;
    background: none;
    fill: #fff;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 15px;
    padding: 0;
    right: 14px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    stroke: var(--orange);
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke-width: 2px;
  }

  .modal-close-icon:hover,
  .modal-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-hidden .movie-modal {
    transform: translateY(100%);
  }

  .movie-image {
    border-radius: 5px;

    width: 264px;
    height: 373.55px;
    margin-left: 36px;
    margin-top: 40px;
    border: solid 1px black;
  }

  .movie-container {
    width: 264px;
    height: 512px;
    margin-left: 68px;
    margin-top: 40px;
  }

  .movie-title {
    color: var(--pureblack);
    text-align: left;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0em;
    text-align: left;
  }

  .movie-descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #8c8c8c;
    margin-bottom: 8px;
  }

  .movie-about-par {
    width: 264px;
    height: 260px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66666;
    color: #000000;
  }

  .modal-buttons {
    display: flex;
    justify-content: left;
  }

  .modal-buttons button {
    margin-right: 14.94px;
  }

  .modal-buttons button:last-child {
    margin-right: 0;
  }

  .watched-button {
    background: #ff6b01;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 125px;
    height: 44px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    fill: white;
    cursor: pointer;
  }

  .watched-button:hover,
  .watched-button:focus {
    background-color: var(--light-orange);
    color: #ff6b01;
    border: solid 1px black;
  }

  .queue-button {
    background-color: white;

    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 125px;
    height: 44px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
    fill: white;
    cursor: pointer;
  }

  .queue-button:hover,
  .queue-button:focus {
    background-color: #ff6b01;
    color: white;
  }
}

@media (min-width: 1280px) {
  .movie-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .movie-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 806px;
    height: 558px;
    border-radius: 0px;
    background: #fff;
    cursor: default;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: row;
    border: solid 1px black;
  }
  .modal-close-btn {
    display: flex;
    background: none;
    fill: none;
    stroke: none;
    stroke-width: 2px;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 15px;
    padding: 0;
    right: 14px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    stroke: var(--orange);
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke-width: 2px;
  }

  .modal-close-icon:hover,
  .modal-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-hidden .movie-modal {
    transform: translateY(100%);
  }

  .movie-image {
    border-radius: 5px;

    width: 375px;
    height: 478px;
    margin-left: 20px;
    margin-top: 30px;
    border: solid 1px black;
  }

  .movie-container {
    width: 375px;
    height: 478px;
    margin-left: 20px;
    margin-top: 30px;
  }

  .movie-title {
    color: var(--pureblack);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
  }

  .movie-descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #8c8c8c;
    margin-bottom: 8px;
  }

  .movie-about-par {
    width: 391px;
    height: 184px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66666;
    color: #000000;
  }

  .modal-buttons {
    display: flex;
    justify-content: left;
  }

  .modal-buttons button {
    margin-right: 10px;
  }

  .modal-buttons button:last-child {
    margin-right: 0;
  }

  .watched-button {
    background: #ff6b01;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 136px;
    height: 44px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    fill: white;
    cursor: pointer;
  }

  .watched-button:hover,
  .watched-button:focus {
    background-color: var(--light-orange);
    color: #ff6b01;
    border: solid 1px black;
  }

  .queue-button {
    background-color: white;

    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 136px;
    height: 44px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
    fill: white;
    cursor: pointer;
  }

  .queue-button:hover,
  .queue-button:focus {
    background-color: #ff6b01;
    color: white;
  }
}
